[submodule "home/.zplug"]
	path = home/.zplug
	url = git@github.com:zplug/zplug.git
[submodule "home/.config/kitty/themes/gruvbox-material"]
	path = home/.config/kitty/themes/gruvbox-material
	url = git@github.com:rsaihe/gruvbox-material-kitty.git
[submodule "asdf"]
	path = asdf
	url = git@github.com:jrolfs/asdf.git
[submodule "home/Documents/Obsidian/Brain/.obsidian/themes/obsidian-minimal"]
	path = home/Documents/Obsidian/Brain/.obsidian/themes/obsidian-minimal
	url = git@github.com:jrolfs/obsidian-minimal.git
[submodule "zinit"]
	path = zinit
	url = git@github.com:zdharma-continuum/zinit.git
