[submodule "zprezto"]
  path = home/.zprezto
  url = https://github.com/sorin-ionescu/prezto.git
[submodule "home/.rbenv/plugins/rbenv-each"]
	path = home/.rbenv/plugins/rbenv-each
	url = https://github.com/chriseppstein/rbenv-each
[submodule "home/.rbenv/plugins/rbenv-gem-rehash"]
	path = home/.rbenv/plugins/rbenv-gem-rehash
	url = https://github.com/sstephenson/rbenv-gem-rehash
[submodule "home/.rbenv/plugins/ruby-build"]
	path = home/.rbenv/plugins/ruby-build
	url = https://github.com/sstephenson/ruby-build
[submodule "home/.nodenv/plugins/node-build"]
	path = home/.nodenv/plugins/node-build
	url = git://github.com/OiNutter/node-build.git
